name: Build NW.js on Windows

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      nwVersion:
        description: "NW.js Version (should >= nw90, use `main` for latest)"
        required: true
        default: "nw97"
        type: string
  schedule:
    - cron: "0 0 * * 0"

jobs:
  init:
    name: Init
    runs-on: windows-latest
    env: &env
      NWJS_DIR: "${{ github.workspace }}\\nwjs"
      SRC_DIR: "${{ github.workspace }}\\nwjs\\src"
      DEPOT_TOOLS_WIN_TOOLCHAIN: 0
      GYP_DEFINES: "target_arch=x64 building_nw=1 clang=1 icu_use_data_file_flag=1 host_arch=x64 buildtype=Official is_debug=false"
      GYP_GENERATORS: "ninja"
      GYP_CHROMIUM_NO_ACTION: 0
      GYP_GENERATOR_FLAGS: "output_dir=out"
      GYP_MSVS_VERSION: "2022"
      GYP_MSVS_OVERRIDE_PATH: "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise"
      NW_VERSION: ${{ github.event.inputs.nwVersion || 'main' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set-up Python 2.7
        uses: LizardByte/actions/actions/setup_python@master
        with:
          python-version: "2.7"

      - name: Install Windows 11 SDK
        run: >
          Start-Process -Wait -FilePath "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe"
          -ArgumentList "modify", "--installPath", """C:\Program Files\Microsoft Visual Studio\2022\Enterprise""",
          "--add", "Microsoft.VisualStudio.Component.Windows11SDK.22621",
          "--quiet", "--norestart", "--nocache"
          -Verb RunAs

      - name: Set Global Git Configs
        run: git config --global depot-tools.allowGlobalGitConfig true

      - name: Install Depot Tools
        uses: newkdev/setup-depot-tools@v1.0.1

      - name: Initialize NW.js Source Directory
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Path ${{ env.NWJS_DIR }} -Force | Out-Null
          New-Item -ItemType Directory -Path ${{ env.SRC_DIR }} -Force | Out-Null

      - name: Configure with GClient
        working-directory: ${{ env.NWJS_DIR }}
        shell: pwsh
        run: |
          gclient config --name=src https://github.com/nwjs/chromium.src.git@origin/${{env.NW_VERSION}}

          $gclientContent = Get-Content .gclient -Raw
          $updatedContent = $gclientContent -replace '"custom_deps" : \{[^}]+\}', @"
          "custom_deps" : {
            "src/third_party/WebKit/LayoutTests": None,
            "src/chrome_frame/tools/test/reference_build/chrome": None,
            "src/chrome_frame/tools/test/reference_build/chrome_win": None,
            "src/chrome/tools/test/reference_build/chrome": None,
            "src/chrome/tools/test/reference_build/chrome_linux": None,
            "src/chrome/tools/test/reference_build/chrome_mac": None,
            "src/chrome/tools/test/reference_build/chrome_win": None,
          }
          "@
          $updatedContent | Set-Content .gclient -Encoding utf8

      - name: Clone NW.js Dependencies
        working-directory: ${{ env.SRC_DIR }}
        run: |
          git clone -b ${{env.NW_VERSION}} --recursive https://github.com/nwjs/nw.js.git content\nw
          git clone -b ${{env.NW_VERSION}} --recursive https://github.com/nwjs/node.git third_party\node-nw
          git clone -b ${{env.NW_VERSION}} --recursive https://github.com/nwjs/v8.git v8

      - name: Sync with GClient
        working-directory: ${{ env.NWJS_DIR }}
        run: gclient sync

      - name: Generate GN Build Files for NW.js
        working-directory: ${{ env.SRC_DIR }}
        run: >
          gn gen out/nw --args="nwjs_sdk=false enable_nacl=false
          is_debug=false symbol_level=0 blink_symbol_level=0
          v8_symbol_level=0 is_component_ffmpeg=true"

      - name: Generate GYP Build Files for Node
        working-directory: ${{ env.SRC_DIR }}
        run: >
          python3 third_party/node-nw/tools/gyp/gyp_main.py
          -I third_party/node-nw/common.gypi
          -D build_type=Release_x64 third_party/node-nw/node.gyp

      - name: Compress Artifact
        shell: bash
        run: >
          "C:/Program Files/Git/usr/bin/tar.exe" -P
          -h --hard-dereference -cf artifact.tzst
          --exclude artifact.tzst --force-local --use-compress-program "zstd -T0" nwjs || true

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-cache
          overwrite: true
          if-no-files-found: error
          path: artifact.tzst

  build1:
    name: Build 1
    runs-on: windows-latest
    needs: init
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: &build
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set-up Python 2.7
        uses: LizardByte/actions/actions/setup_python@master
        with:
          python-version: "2.7"

      - name: Install Windows 11 SDK
        run: >
          Start-Process -wait -FilePath "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe"
          -ArgumentList "modify", "--installPath", """C:\Program Files\Microsoft Visual Studio\2022\Enterprise""",
          "--add", "Microsoft.VisualStudio.Component.Windows11SDK.22621",
          "--quiet", "--norestart", "--nocache"
          -Verb RunAs

      - name: Set Global Git Configs
        shell: pwsh
        run: git config --global depot-tools.allowGlobalGitConfig true

      - name: Install Depot Tools
        uses: newkdev/setup-depot-tools@v1.0.1

      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: build-cache

      - name: Decompress Artifact
        shell: bash
        run: |
          "C:/Program Files/Git/usr/bin/tar.exe" -xf artifact.tzst -P --force-local --use-compress-program "zstd -d" || true
          rm artifact.tzst

      - name: Build
        working-directory: ${{ env.SRC_DIR }}
        id: run-build
        run: |
          python3 ${{ github.workspace }}/build.py

      - name: Compress Artifact
        shell: bash
        run: >
          "C:/Program Files/Git/usr/bin/tar.exe" -P
          -h --hard-dereference -cf artifact.tzst
          --exclude artifact.tzst --force-local --use-compress-program "zstd -T0" nwjs || true

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-cache
          overwrite: true
          if-no-files-found: error
          path: artifact.tzst

      - name: Upload Dist Artifact
        uses: actions/upload-artifact@v6
        if: ${{ steps.run-build.outputs.finish == 'true' }}
        with:
          name: nw-dist
          if-no-files-found: error
          path: ${{ env.SRC_DIR }}/out/nw/dist

  build2:
    name: Build 2
    runs-on: windows-latest
    needs: build1
    if: ${{ needs.build1.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build3:
    name: Build 3
    runs-on: windows-latest
    needs: build2
    if: ${{ needs.build2.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build4:
    name: Build 4
    runs-on: windows-latest
    needs: build3
    if: ${{ needs.build3.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build5:
    name: Build 5
    runs-on: windows-latest
    needs: build4
    if: ${{ needs.build4.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build6:
    name: Build 6
    runs-on: windows-latest
    needs: build5
    if: ${{ needs.build5.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build7:
    name: Build 7
    runs-on: windows-latest
    needs: build6
    if: ${{ needs.build6.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build8:
    name: Build 8
    runs-on: windows-latest
    needs: build7
    if: ${{ needs.build7.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build9:
    name: Build 9
    runs-on: windows-latest
    needs: build8
    if: ${{ needs.build8.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build10:
    name: Build 10
    runs-on: windows-latest
    needs: build9
    if: ${{ needs.build9.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build11:
    name: Build 11
    runs-on: windows-latest
    needs: build10
    if: ${{ needs.build10.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build12:
    name: Build 12
    runs-on: windows-latest
    needs: build11
    if: ${{ needs.build11.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build13:
    name: Build 13
    runs-on: windows-latest
    needs: build12
    if: ${{ needs.build12.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build14:
    name: Build 14
    runs-on: windows-latest
    needs: build13
    if: ${{ needs.build13.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build15:
    name: Build 15
    runs-on: windows-latest
    needs: build14
    if: ${{ needs.build14.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build16:
    name: Build 16
    runs-on: windows-latest
    needs: build15
    if: ${{ needs.build15.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build17:
    name: Build 17
    runs-on: windows-latest
    needs: build16
    if: ${{ needs.build16.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build18:
    name: Build 18
    runs-on: windows-latest
    needs: build17
    if: ${{ needs.build17.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build19:
    name: Build 19
    runs-on: windows-latest
    needs: build18
    if: ${{ needs.build18.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  build20:
    name: Build 20
    runs-on: windows-latest
    needs: build19
    if: ${{ needs.build19.outputs.finish == 'false' }}
    outputs:
      finish: ${{ steps.run-build.outputs.finish }}
    env: *env
    steps: *build

  release:
    name: Release
    runs-on: ubuntu-slim
    needs: build20
    if: ${{ !failure() && !cancelled() }}
    permissions:
      contents: write
      id-token: write
      attestations: write
    env: *env
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: nw-dist

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          fail_on_unmatched_files: true
          tag_name: ${{ env.NW_VERSION }}-${{ github.run_id }}
          body: |
            NW.js release - ${{ env.NW_VERSION }}
          files: |
            ${{ github.workspace }}/**/*

      - name: Attest Release Files
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{ github.workspace }}/**/*
